/***********************************************
/ GRUPO N° 33                                  /
/ Autores: YANINA VELAZQUEZ - ULLUA CRISTIAN   /
/                                              /
***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
  --colorHeaderNav: #ffa200;       /* VARIABLE DEL COLOR PARA LA BARRA DE NAVEGACIÓN */
  --color-body: #fffaf4;           /* PARA EL CUERPO DE LA PAGINA */
  --color-resaltado: #FB2E02;      /* PARA EL RESALTADO DE ELEMENTOS */
  --color-texto-header: white;     /* DEL TEXTO DENTRO DEL ENCABEZADO */
  --color-section: #ffc480;        /* PARA LA SECCIONES */
  --color-cards: #ff7b00;          /* PARA LAS TARJETAS, FIJO POR EL COLOR DE LOS LOGOS DE LA EMPRESA */

  --ancho-pantalla: 1000px;          /* ANCHO DE LA PANTALLA EN EL NAVEGADOR*/
  --ancho-nav: 220px;                /* ANCHO DE LA BARRA DE NAVEGACION */
                                     /* MODIFICACIONES: CREAR VARIABLES PARA QUE LA WEB RESPONSIVE */
}


/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
  width: var(--ancho-pantalla);
  display: flex;                                /* Se genera un Flexbox para organizar los elementos internos */
  position: relative;                           /* Y posicionar elementos hijos de forma relativa */
  background-color: var(--colorHeaderNav);
  border: 1px solid var(--color-body);
  z-index: 10;
}

.main-header img{
  position: relative;                           /* La imagen se posiciona relativa a su contenedor */
  margin-left: 5%;                              /* Con un margen a la izquierda del 5% del ancho del contenedor*/
  margin-top: 0.4%;                             /* Dezplazada 0,4% hacia abajo*/
  height: 90%;                                  /* Y la imagen ocupa casi toda la altura del header */
  order: 1;                                     /* La imagen "100% gratis" va a ser el primer elemento del encabezado*/
  filter: saturate(200%);                       /* Con el doble de color de saturación */
}

.main-header>h1 {
  position: absolute;                           /* Al titulo "FDW - PROYECTO CSSL" se le da una posición fija en la cabezera */
  margin-left: 40%;                             /* Dezplazada 40% hacia la derecha */
  color: var(--color-texto-header);
  align-self: center;                           /* Se centra verticalmente dentro del contenedor flex */
  order: 2;                                     /* Va a ser el segundo en el orden del Flexbox */
}

.notifications {
  position: absolute;                           /* Y la campana de notificación tambien se deja de forma absoluta */
  top: 40%;                                     /* A un 40% desde la parte superior */
  padding: 10px;                                /* Con un espaciado interno*/
  right: 1px;                                   /* Pegado casi al borde derecho */
  justify-content: center;                      /* Centramos el contenido dentro del contenedor */
  color: var(--color-texto-header);
  order: 3;                                     /* Y con posicion 3ra en el flexbox */
}

.notification-icon:hover {                      /* CUANDO PASEMOS EL PUNTERO SOBRE LA CAMPANA */
  animation: shake 0.5s ease-in-out;            /* Aplicamos la animación la cual llamaremos "shake" durante un tiempo de 0,5 segundos */
}                                               /* "else-in-out" es una opcion para empezar la animacion suave, acelerarla a la mitad y despues terminar suavemente la animacion */


/* ANIMACION ICONO CAMPANA */
@keyframes shake {
  0% { transform: translateX(0);}                             /* Empieza en su posicion original */

  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px);}     /* Cuando el tiempo 0,5 seg. Llegue al 10, 30, ect. Debera estar 5px hacia la izquierda*/

  20%, 40%, 60%, 80% { transform: translateX(5px);}           /* Lo contrario a lo anterior */

  100% {transform: translateX(0);}                            /* Y al terminar el tiempo de animacion volver a su posicion original */
}


/* ESTILO DEL CUERPO Y EL MENU PRINCIPAL */
body {
  width: var(--ancho-pantalla);                 /* Ajustamos el ancho del cuerpo de la pagina con 1000 px*/
  background-color: var(--color-body);          /* Y le asignamos el color de la variable del cuerpo */
}

.menu-group {
  margin-bottom: 20px;                          /* Se agrega un margen inferior de 20px entre grupos de menú */
}

.menu-group>h2 {                                /* LE APLICAMOS AL PRIMER HIJO DIRECTO "H2" DEL MENU PRINCIPAL */
  padding-top: 10px;                            /* Un espacio en la parte superior del titulo */
  padding-left: 25px;                           /* Y otro a la izquierda del mismo */
  font-size: 25px;                              /* Definimos el tamaño de la letra */
  color: var(--color-body);                     /* y por ultimo le asignamos el color de una variable */
}

.menu-group a {                                /* A TODOS LOS ENLACES DEL MENU PRINCIPAL */
  display: block;                              /* Hacemos que ocupe toda una línea (bloque) */
  margin-left: 20px;                           /* Y desplazamos hacia la derecha */
  color: var(--color-body);
}

.menu-group a .material-icons {                /*  Y A LOS ELEMENTOS DE LA CLASE "material-icons" DENTRO DE LAS ETIQUETAS ENLACES */
  margin-right: 5px;                           /* Desplazamos hacia la izquierda con el fin de separa el icono del texto del menu*/
}


/* ESTILOS DE BARRA DE NAVEGACIÓN */
main {
  justify-content: flex-end;                                /* Y los elementos dentro del main los alineamos hacia el extremo derecho dejando al izquierdo la barra de busquedad*/
  width: calc(var(--ancho-pantalla) - var(--ancho-nav));    /* El ancho del área principal del main sera, el ancho de la pagina 1000 px - 220px del ancho de la barra de busqueda */
  background-color: var(--color-texto-header);              /* Definimos el color del fondo */
}

main section{
    padding: 2px;                                           /* A sa secciones del main derecho, le generamos un espacio interno en cada sección*/
    background-color: var(--color-section);                 /* Y tambien definimos el color */
}

.main-menu{
    float: left;                                            /* La barra de navegación se coloca a la izquierda del contenido */
    width: var(--ancho-nav);                                /* El ancho de la barra sera de 220px */
    padding: 0px 10px;                                      /* Espaciado interno horizontal */
    position: relative;                                     /* Posicionamiento relativo para poder ajustar con top/left */
    top: 1px;                                               /* Separamos a 1px de la cabezera */
    left: 0px;                                              /* Ademas, se mantendra pegada a la izquierda del body */
    background-color: var(--colorHeaderNav);                /* Definir el color */
    overflow-y: visible                                     /* Y por ultimo el contenido que se desborde verticalmente será visible */
}

.material-icons {
  margin-right: 3px;                                        /* Y a los iconos se le agrega un pequeño margen a la derecha, para separarlos del texto */
}


/* ESTILOS DE ENLACES */
a {
  display: flex;                                            /* Se convierte los enlaces en un contenedor flexible */
  padding: 3px 1px;                                         /* Espaciado interno: 3px arriba/abajo y 1px izquierda/derecha */
  color: var(--color-texto-header);                         /* Definimos el color del texto */
  text-decoration: none;                                    /* Y se 0elimina el subrayado para que no aparesca al pasar el cursor */
}

a>.menu-text {
  color: var(--color-texto-header);                        /* Al primer hijo directo de la clase main-text del enlace le cambiamos el color del texto */
  font-size: 15px;                                         /* Y el tamaño de la fuente */
}

a:hover {
  background-color: var(--color-resaltado);               /* Cambiamos el color del fondo cuando pasamos el cursor */
}

a:hover .menu-text {
  color: var(--color-texto-header);                       /* Al igual que al color del texto */
}

a:hover .material-icons {
  color: var(--color-texto-header);                       /* Y del icono tambien */
}


/* ESTILOS DE CAJAS DE PRODUCTOS Y OFERTAS */
.exclusive-offers {
  display: flex;                                            /* La clases exclusive-offers seran contenedor flexible para organizar elementos en fila */
  flex-direction: row;                                      /* Dirección principal: horizontal (fila) */
  flex-wrap: nowrap;                                        /* No se va a permitir que los elementos se vayan a otra línea */
  height: 450px;                                            /* Se define una altura fija */
  width: calc(var(--ancho-pantalla) - var(--ancho-nav));    /* Y el ancho va a ser lo inverso a la barra de navegación o el restante*/
  border: 1px solid var(--color-body);                      /* Se agrega borde */
  text-align: center;                                       /* Y por ultimo se centra el texto dentro del contenedor */
}

.exclusive-offers h2 {
  width: 350px;                                             /* Ancho fijo del título */
  left: 430px;                                              /* Posición horizontal inicial */
  position: absolute;                                       /* Se posiciona de forma absoluta dentro del contenedor */
  border-bottom: none;                                      /* ademas se elimina el borde inferior */
  border-radius: 50px;                                      /* Y redondeados los bordes */
  background-color: var(--color-resaltado);                 /* por ultimo le asignamos un color de fondo */
  text-align: center;                                       /* Luego al texto lo centramos*/
  font-size: 1.8rem;                                        /* Con un tamaño de fuente relativamente grande */
  text-transform: uppercase;                                /* Todo en mayúsculas */
  color: var(--color-texto-header);
  animation: titulo 10s infinite;                           /* Y terminamos Aplicando una animación con duración de 10seg, de repetición infinita */
}

/* Animación del título en movimiento  "OFERTAS PARA TI"*/
@keyframes titulo {
  0%   { left: 230px; }                                     /* Iniciamos a la izquierda el contenedor bien pegado a la barra de busquedad */
  50%  { left: 640px; }                                     /* Llegamos hacia el otro extremo */
  100% { left: 230px; }                                     /* Y volvemos hacia la izquierdfa de nuevo */
}


/* ESTILO DE TAMAÑO DE IMAGENES DE LAS CAJAS */
.art-offer {
  margin-top: 30px;                           /* Dejamos un espacio en el margen superior de 30px */
  background-color: var(--color-body);        /* Le damos un color */
  border: solid 3px var(--color-section);     /* Y generamos un borde de otro color */
}

.art-offer header {
  margin-bottom: 15px;                        /* A la cabecera de la clase le damos un espacio inferior para separarlo del texto */
}

.art-offer>header>p {
  margin: 5px;                                /* Y lo hijos directos parrafos del encabezado, le asignamos un margen alrededor del párrafo */
  font-size: 30px;                            /* Definimos el tamaño */
  font-weight: bold;                          /* En negrita */
  color: #333;                              /* Color gris oscuro */
}

.art-offer>header>p::before {                 /* A los pseudo elementos de esos mismo hijos directos le insertamos contenido*/
  content: attr(data-art-old-price);          /* Insertamos el precio anterior desde el atributo HTML */
  margin: 5px;                                /* que tendra un margen */
  font-size: 20px;                            /* Y un tamaño diferente al del precio actual o en oferta */
  text-decoration: line-through;              /* Lo tachamos para indicar que es un precio anterior */
  color: var(--color-resaltado);
}

.art-offer h3 {
  margin: 10px;                               /* Margen alrededor */
  font-size: 19px;                            /* Tamaño de fuente medio */
  text-align: center;                         /* Centrado horizontal */
  height: 55px;                               /* Altura fija */
  font-weight: bold;                          /* Negrita */
}

.art-offer>img {
  width: 120px;                               /* Al imagen de la caja le damos una proporcion cuadrada */
  height: 120px;
}

.art-details{
  height: 70px;                               /* Definimos el alto de los detalles */
  background-color: var(--color-body);
}

.art-details>h4 {
  font-size: x-small;                         /* A los titulos h4 de los detalles, le damos un texto muy pequeño */
  margin-top: 10px;                           /* Separación del margen superior */
  font-weight: bold;                          /* En negrita */
}

.art-details>p {
  font-size: xx-small;                        /* y al parrafos de los detalles, tambien le damos un texto pequeño */
  margin-top: 15px;                           /* Separado en el margen superior del titulo de los detalles */
  font-style: italic;                         /* En cursiva */
}

.art-offer>footer>p {
  margin-top: 10px;                           /* Y al pie del articulo en oferta lo separamos del margen superior superior*/
}

.art-offer button {
  margin-top: 15px;                           /* Lo mismo hacemos con el boton de comprar */
  padding: 5px;                               /* Le damos un borde interno */
  border-radius: 5px;                         /* Y que sea redondeado esos bordes */
}

.art-offer button:hover {
  background-color: #bcb8b8;                /* Por ultimo al pasar el cursor cambie de color*/
}


/* ESTILO DE ACTIVIDAD RECIENTE */
.activity {
  width: 398px;                                   /* Definimos el ancho y el alto de la pagina */
  height: 220px;
  background-color: var(--color-section);         /* Con un color de fondo y un borde solido */
  border: 3px solid var(--color-body);
}

.activity h2 {
  margin-top: 10px;                               /* A los titulos h2 le damos un margen superior y inferior */
  margin-bottom: 20px;
  font-size: 1.8rem;                              /* El tamaño de fuente va a ser relativamente grande */                            
  text-align: center;                             /* Centrada horizontalmente */
  font-weight: bold;                              /* En negrita */
  color: black;
}

table {
  width: 90%;                                     /* A la tabla dentro del contenedor va a ocupar el 90% del ancho del mismo */
  margin-left: 5%;                                /* Centramos la tabla, ya que al dejarlo al 5% del margen izquierdo tenemos lo mismo del lado derecho*/
  border-collapse: collapse;                      /* Tambien se elimina los espacios entre los bordes de celdas */
  background-color: var(--color-body);            /* le asignamo un color a la tabla */
  text-align: center;                             /* Centramos el contenido de las celdas */
  color: black;
}

.activity thead th {
  font-size: 1.4rem;                              /* Al encabezado de damos un tamaño relativamente apenas mas grande */
  font-weight: bold;                              /* En negrita */
}

.activity tbody tr:hover {
  cursor: pointer;                                                              /* Al pasar el cursor por las filas, cambiamos el cursor a una mano */
  color: var(--color-resaltado);                                                /* Cambiando el color del texto */
  background: linear-gradient(90deg, var(--color-body), var(--color-section));  /* Y le damos un degradado al fondo separando los 2 colores con una linea recta */
}

.activity td {
  border-top: var(--color-section) solid 1px;                                   /* Y a las filas individuales, un borde en la parte superior */
  font-weight: bold;                                                            /* Y en negrita el texto dentro de cada celda */
}


/* ESTILO DE TARJETAS*/
.cards {
  display: flex;                                  /* El contenedor de las tarjetas sera flexible */
  width: 382px;                                   /* Definimos un ancho fijo y una altura automatica */
  height: auto;
  background-color: var(--color-section);
  border: 3px solid var(--color-body);
  padding: 8px;                                   /* Le damos un espacio interno */
  flex-direction: column;                         /* Los elementos hijos se apilan en columna */
  align-items: flex-start;                        /* Y se alinean al inicio del eje horizontal */
}

.card {
  display: flex;                                  /* Y a cada tarjeta tambien seran contenedores flexibles */
  width: 60%;                                     /* Ocupara el 60% del ancho del contenedor padre */
  background-color: var(--color-cards);
  color: var(--color-texto-header);
  border-radius: 8px;                             /* Redondeamos los bordes */
  border: 1px solid #9a9a9a;                    /* y le damos otro color diferente de la tarjeta */
  flex-direction: column;                         /* Sus elementos se apilan en columna */
  margin-top: 10px;                               /* Se separara en la parte inferior entre tarjetas */
  margin-left: 20%;                               /* Desplaza la tarjeta hacia la derecha */
  padding: 8px;
  transition: transform 0.3s ease;                /* Animación suave al aplicar transformaciones */
}

.card>img {
  position: relative;                             /* A la marca de la tarjeta de damos una pósicion relativa */
  left: 170px;                                    /* Posicionamos el logo de la empresa a la derecha inferior */
  bottom: 5px;
}

.cards>h2 {
  font-size: 1.8rem;                              /* Al tipo titulo de las "tarjeta preferidas" le damos un tamaño de texto relativamente grande */
  text-align: center;                             /* Centra el título dentro del contenedor con un espacio en el margen superior*/
  margin-bottom: 10px;
  font-weight: bold;                              /*  En negrita */
}

.card>h3, p{
  margin-top: 5px;
  margin-left: 10px;
}

.card:hover {
  transform: scale(1.05);                       /* Agranda la tarjeta al pasar el mouse */
  z-index: 4;                                   /* La coloca por encima de otros elementos */
}


/* ESTILO DE CONTROL DE STOCK */
.stock-control {
    position: relative;                         /* Indicamos una posicion relativa, para despues posicionar elementos hijos de forma absoluta */
    width: 398px;                               /* Definimos el ancho y el alto del contenedor */
    height: 265px;
    padding: 5px;
    background-color: var(--color-body);
    border: 3px solid var(--color-section);
}

.stock-control>h2 {
  font-size: 1.6rem;                    /* Al titulo de control de stock le damos un tamano relativamente grande */
  font-weight: bold;                    /* En negrita */
  margin-bottom: 35px;                  /* Con un espacio inferior */
  color: var(--colorHeaderNav);
}

.stock-control h3 {
  padding-bottom: 15px;                 /* Separamos cada contenedor de las barra de stock en la parte inferior */
  font-weight: bold;                    /* En negrita */
}

.stock-alert[data-alert-level="high"]::before {   /* Todas las barras tendran */
  margin-top: 10px;                               /* A la primera barra la separamos del titulo un poco mas */
  display: flex;                                  /* Contenedores flex */
  height: 30px;                                   /* Un alto fijo */
  width: 20%;                                     /* Con anchos diferentes */
  content: attr(data-stock) " unidades";          /* Insertando el atributo de stock */
  align-items: center;                            /* centramos verticalmente */
  justify-content: flex-end;                      /* Y horizontalmente tambien */
  text-align: end;                                /* con el texto al final de la barra */
  background-color: rgb(255, 67, 67);
  border: 1px solid black;
}

.stock-alert[data-alert-level="medium"]::before {
  display: flex;
  height: 30px;
  width: 50%;
  content: attr(data-stock) " unidades";
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  background-color: rgb(255, 255, 53);
  border: 1px solid black;
}

.stock-alert[data-alert-level="low"]::before {
  display: flex;
  height: 30px;
  width: 90%;
  content: attr(data-stock) " unidades";
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  background-color: greenyellow;
  border: 1px solid black;
}


/* ESTILO DE COTIZACION DOLAR */
.currency {
  width: 380px;                                 /* Se define el ancho y el alto del contenedor */
  height: 265px;
  text-align: center;                           /* Se centra el contenido */
  font-size: 1.2rem;                            /* Con el titulo al mismo tamaño que control de stock */
  color: var(--colorHeaderNav);
  margin-left: 2px;                             /* Margen izquierdo muy pequeño para separarlo del control de stock */
  background-color: var(--color-body);
  border: 3px solid var(--color-section);
}

.currency > h2 {
  margin-bottom: 65px;           /* al contenido lo bajamos muy poco contra el elemento anterior*/
  font-weight: bold;             /* En negrita */
}

.currency > p {
  display: block;                /* Aseguramos que se muestre el párrafo como bloque */
  position: relative;
  top: 5px;                     /* Posicionamos desde el borde inferior hacia arriba */
  margin-top: 10px;             /* Y dejamos entre cada texto muy pequeño */
  font-size: 15px;              /* Definimos el tamaño del texto */
  font-weight: bold;            /* En negrita */
  color: black;
}


/* SIMULACIÓN FLUJO
VERDE: DOLAR OFICIAL,
AZUL: DOLAR BLUE,
NEGRO: DOLAR MEP */

.loading{
    width: 200px;                           /* Definimos el ancho y el alto del contenedor */
    height: 100px;
    justify-content: space-around;          /* Se distribuye los elementos hijos con espacio uniforme entre ellos */
    align-items: flex-end;                  /* Alineandolos en el borde inferior del contenedor */
    margin-left: 80px;                      /* Con un margen izquierdo para desplazar el bloque */
}

.loading-item{
    width: 35px;                            /* Cada barra de tendra un ancho y alto fijo*/
    height: 35px;
    border-radius: 0;                       /* Y sin bordes en las barras */
    animation: dolar 1s linear infinite;    /* Por ultimo aplicamos la animación con duración de 1s, de forma lineal y infinitamente */
}

.loading-item:nth-child(1) {      /* Y animamos a cada hijo */
  animation-delay: 0.1s;          /* Generamos un delay antes de inicial la animacion */
  background-color: green;      /* Con el delay generamos un orden de animacion para que no se muevan la 3 a la vez */
}

.loading-item:nth-child(2) {
  animation-delay: 0.3s;
  background-color: blue;
}

.loading-item:nth-child(3) {
  animation-delay: 0.5s;
  background-color: black;
}

@keyframes dolar {
  0% {height: 30px;}          /* iniciamos con una barra pequeña verticalmente */

  50% {height: 100px;}        /* La llemamos a su altura maxima a mitad de la animacion */

  100% {height: 30px;}        /* Y cuando llegue al fina volvemos a la misma altura que el inicio */
}


/*AYUDA EN LINEA*/
.contact-support {
  display: flex;                                    /* Se define al contenedor flexible */
  position: fixed;                                  /* Mantiene el elemento fijo en la pantalla, aunque se haga scroll */
  bottom: 70px;                                     /* Separación levemente desde la parte inferior y casi sobre el borde derecho */
  left: 880px;
  border-radius: 10px;                              /* La cual tendra el boton bordes redondeados */
  background-color: VAR(--color-cards);
  border: solid 1px var(--color-texto-header);
  color: var(--color-texto-header);
  z-index: 1000;                                    /* Y por ultimo asegurar que quede por encima de cualquier elemento */
}

.contact-support:hover {
  cursor: pointer;                                                                /* Cambia el cursor a "mano" indicando que es clickeable */
  color: var(--color-resaltado);
  background-color: var(--color-cards);
  background: linear-gradient(45deg, var(--color-body), var(--color-section));   /* Y aplicamos un degradado cuando pasamos el cursor */
}

/* ESTILO DE FOOTER */
.main-footer {
    width: var(--ancho-pantalla);                   /* El pie tendra el ancho de la pantalla y no afectara a la barra de navegacion por que esta sobre el pie */
    height: 64px;                                   /* Y tambien definimos un alto fijo */
    padding: 32px;
    text-align: center;                             /* Centramos horizontalmente el texto */
    background-color: var(--color-section);
    border-top: 3px solid var(--color-body);
}