/***********************************************
 GRUPO N° 33
 Autores: YANINA VELAZQUE - ULLUA CRISTIAN

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
  --colorHeaderNav: #0015ffa5;
  --color-body: #ff0000;
  --color-resaltado: #ff0101;
  --color-texto-header: #000000;
  --color-section: #ffffff;
  --color-cards: #2e3a4f;

  --ancho-pantalla: 1000px;
  --ancho-nav: 220px;
}

/* ESTILOS DE CABECERA PRINCIPAL*/ 
.main-header{
  width: var(--ancho-pantalla);
  display: flex;
  position: relative;
  background-color: var(--colorHeaderNav);
  border: 1px solid var(--color-body);
  z-index: 10;
}

.main-header img{
  position: relative;
  margin-left: 5%;
  height: 100%;
  order: 1;
  filter: saturate(200%);
}

.main-header>h1 {
  position: absolute;
  margin-left: 40%;
  color: var(--color-texto-header);
  align-self: center;
  order: 2;
}

.notifications {
  position: absolute;
  top: 40%;
  padding: 11px;
  right: 1px;
  justify-content: center;
  color: var(--color-texto-header);
  order: 3;
}


/* ESTILO DEL CUERPO Y EL MENU PRINCIPAL */
body {
  background-color: var(--color-body);
  width: var(--ancho-pantalla);
}

.menu-group {
  margin-bottom: 20px;
}

.menu-group>h2 {
  padding-top: 8px;
  padding-left: 25px;
  font-size: 25px;
  color: var(--color-body);
}

.menu-group a {
  display: block;
  margin-left: 20px;
  color: var(--color-body);
}

.menu-group a .material-icons {
  margin-right: 5px;
}


/* ESTILOS DE BARRA DE NAVEGACIÓN */
main {
  width: calc(var(--ancho-pantalla) - var(--ancho-nav));
  background-color: var(--color-texto-header);
  justify-content: flex-end;
}

main section{
    padding: 3px;
    background-color: var(--color-section);
}

.main-menu{
    float: left;
    width: var(--ancho-nav);
    padding: 0px 10px;
    position: relative;
    top: 10px;
    left: 0px;
    background-color: var(--colorHeaderNav);
    overflow-y: visible  
}

.material-icons {
  margin-right: 3px;
}


/* ESTILOS DE ENLACES */
a {
  padding: 3px 0;
  display: flex;
  color: var(--color-texto-header);
  text-decoration: none;
}

a>.menu-text {
  color: var(--color-texto-header);
  font-size: 15px;
}

a:hover {
  background-color: var(--color-resaltado);
}

a:hover .menu-text {
  color: var(--color-texto-header);
}

a:hover .material-icons {
  color: var(--color-texto-header);
}


/* ESTILOS DE CAJAS DE PRODUCTOS Y OFERTAS */
.exclusive-offers {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 450px;
  width: calc(var(--ancho-pantalla) - var(--ancho-nav));
  text-align: center;
  border: 1px solid var(--color-body);
}


/* ESTILO DE TAMAÑO DE IMAGENES DE LAS CAJAS */
.art-offer {
  margin-top: 30px;
  background-color: var(--color-body);
  border: solid 3px var(--color-section);
}

.art-offer header {
  margin-bottom: 15px;
}

.art-offer>header>p {
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.art-offer>header>p::before {
  content: attr(data-art-old-price);
  margin: 5px;
  font-size: 20px;
  text-decoration: line-through;
  color: var(--color-resaltado);
}

.art-offer h3 {
  margin: 10px;
  font-size: 19px;
  text-align: center;
  height: 55px;
  font-weight: bold;
}

.art-offer>img {
  width: 120px;
  height: 120px;
}

.art-details{
  height: 70px;  
  background-color: var(--color-body);
}

.art-details>h4 {
  font-size: x-small;
  font-weight: bold;
  margin-top: 10px;
}

.art-details>p {
  margin-top: 15px;
  font-size: xx-small;
  font-style: italic;
}

.art-offer>footer>p {
  margin-top: 10px;
}

.art-offer button {
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
}

.art-offer button:hover {
  background-color: #bcb8b8;
}

/* ESTILO DE ACTIVIDAD RECIENTE */
table {
  background-color: var(--color-body);
  color: black;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  margin-left: 5px;
}

.activity {
  background-color: var(--color-section);
  width: 398px;
  height: 220px;
  border: 3px solid var(--color-body);
}

.activity h2 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}

.activity tbody tr:hover {
  background: linear-gradient(90deg, var(--color-body)), var(--color-section);
  color: var(--color-resaltado);
  cursor: pointer;
}

.activity thead th {
  font-size: 1.4rem;
  font-weight: bold;
}

.activity td {
  border-top: var(--color-section) solid 1px;
  font-weight: bold
}

/* ESTILO DE TARJETAS*/
.cards {
  display: flex;
  width: 382px;
  height: 220px;
  border: 3px solid var(--color-body);
}

.card{
    display: flex;
    width: 382px;
    height: 220px;
    border: 3px solid var(--color-body);
}

.card>img {
  left: 130px;
  bottom: 3px;
}

.cards>h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}

.card>h3,
p {
  margin-top: 5px;
  margin-left: 10px;
}

.card:hover {
  transform: scale(1.2);
  z-index: 3;
}

/* ESTILO DE CONTROL DE STOCK */
.stock-control{
    width: 398px;
    height: 265px;
    padding: 5px;
    background-color: var(--color-body);
    border: 3px solid var(--color-section);
    position: relative;
}

.stock-control>h2 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--colorHeaderNav);
  margin-bottom: 35px;
}

.stock-control h3 {
  font-weight: bold;
  padding-bottom: 15px;
}

.stock-alert{
    width: 110px;
    height: 60px;
}


/* ESTILO DE COTIZACION DOLAR */
.currency {
  width: 380px;
  height: 265px;
  font-size: 1.2rem;
  color: var(--colorHeaderNav);
  text-align: center;
  margin-left: 2px;
  background-color: var(--color-body);
  border: 3px solid var(--color-section);
}

.currency>h2 {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 65px;
}

/* SIMULACIÓN FLUJO VALOR */

.loading{
    width: 200px;
    height: 100px;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 80px;
}

.loading-item{
    width: 35px;
    height: 35px;
    margin-right: 0;
    background-color: lightblue;
    animation: dolar 1s linear infinite;
    border-radius: 0;
}

@keyframes dolar {
  0% {
    height: 30px;
  }

  50% {
    height: 100px;
  }

  100% {
    height: 30px;
  }
}

.currency>p{
    display: block;
    top: 20px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

/*AYUDA EN LINEA*/
.contact-support {
  display: flex;
  position: fixed;
  margin-left: 600px;
  bottom: 10px;
  background-color: VAR(--color-cards);
  border: solid 1px var(--color-texto-header);
  color: var(--color-texto-header);
}

/* ESTILO DE FOOTER */
.main-footer{
    width: var(--ancho-pantalla);
    background-color: var(--color-section);
    height: 65px;
    padding: 20px;
    text-align: center;
    bottom: 0px;
    border-top: 3px solid var(--color-body);
}